.header-container {
  box-shadow: 0 1px 0 0 $gray;
  text-align: center;
  position: relative;
  .logo {
    height: 38px;
    padding: 8px;
  }
  .menu {
    position: absolute;
    left: 18px;
    top: 18px;
    width: 22px;
    padding: 8px;
  }
}
