* {
	//box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 16px;
	color: $black;
}
.app-container {
	position: relative;
}
.hide {
	display: none;
}
